<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
      <div style="text-align:center; padding: 20px;">
          <h3>
          Welcome to {{ title }}!
        </h3>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-12">
        <app-header></app-header>
      </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-12">
        <router-outlet></router-outlet>
      </div>
  </div>
  <!-- <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-6">
        <app-create-units [properties]="getProperties()"></app-create-units>
      </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
      <app-tabs [properties]="getProperties()"></app-tabs>
    </div>
  </div>
</div> -->
