<div class="list-group-item flex-column align-items-start" [ngClass]="{ 'list-group-item-success' : item_unit.vacant === true,  'list-group-item-warning' : item_unit.vacant === false} ">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Unit No: {{item_unit.number}}</h5>
      <small style="text-align: right;">Floor: {{item_unit.floor}}<br/>
        <button class="btn btn-primary" (click)="onAssign()">Change Status</button>
      </small>
    </div>
    <p class="mb-1">Fee: $CAD {{item_unit.rent}}</p>
      <small *ngIf="item_unit.vacant === true"> Vacancy: Available </small>
      <small *ngIf="item_unit.vacant === false"> Vacancy: Occupied </small>
    <div>
    </div>
  </div>
