<div class="row">
  <nav class="col-md-8 col-md-offset-3">
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['signup']">Signup</a></li>
      <li class="nav-item" *ngIf="!isLoggedIn()"><a class="nav-link" routerLinkActive="active" [routerLink]="['signin']">Signin</a></li>
      <li class="nav-item" *ngIf="isLoggedIn()"><a class="nav-link" routerLinkActive="active" [routerLink]="['logout']">Logout</a></li>
    </ul>
  </nav>
</div>
<div class="row">
    <div class="col-md-8 col-lg-12">
      <router-outlet></router-outlet>
    </div>
</div>
